### **Loan Default Prediction**

#### **Introduction**

#### **Setup**

In [3]:
# Import Libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import shap
import scipy.stats as stats

# Data Preprocessing 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Algorithms for the prediction 
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from xgboost import XGBClassifier

# Evaluation metrics
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import precision_recall_curve, recall_score, precision_score, f1_score, accuracy_score

# Model tuning
from sklearn.model_selection import GridSearchCV

# Model saving 
import joblib
import pickle

#### **Read dataset**

In [11]:
# Define the path to dataset 
path = "../data/raw/loan_assessment_data.csv"

# Load the dataset into dataframe
df = pd.read_csv(path)
df.head()

   BAD  LOAN  MORTDUE     VALUE  ...       CLAGE NINQ  CLNO  DEBTINC
0    1  1100  25860.0   39025.0  ...   94.366667  1.0   9.0      NaN
1    1  1300  70053.0   68400.0  ...  121.833333  0.0  14.0      NaN
2    1  1500  13500.0   16700.0  ...  149.466667  1.0  10.0      NaN
3    1  1500      NaN       NaN  ...         NaN  NaN   NaN      NaN
4    0  1700  97800.0  112000.0  ...   93.333333  0.0  14.0      NaN

[5 rows x 13 columns]